body {
  height: 100vh;
  width: 100vw;
  display: block;
  margin: 0;
}
/* this class specifies shape */
.top {
  height: 20%;
  width: 100%;
  display: flex;
}
.bottom {
  height: 80%;
  width: 100%;
  display: flex;
}
.column {
  height: 100%;
  width: 50%;
  display: block;
  margin: 0;
}
.character-div {
  height: 80%;
  width: 100%;
  display: flex;
}
.sound-div {
  height: 30%;
  width: 100%;
  display: flex;
}
.half {
  height: 100%;
  width: 100%;
}
/* these classes specify color */
.red {
  background-color: #ff0000;
}
.dark-purple {
  background-color: #6f00ff;
}
.light-purple {
  background-color: #7700ff;
}
.white {
  background-color: #ffffff;
}
.black {
  background-color: #000000;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}

img {
  max-width: 100%;
  max-height: 100%;
}
.clickable1 {
  filter: brightness(85%) drop-shadow(2px 8px 3px);
}
/* changes to the style when the user HOVERS */
.clickable1:hover {
  cursor: pointer;
  filter: brightness(100%) drop-shadow(2px 8px 3px);
  transform: scale(1.04);
}
/* changes to the style when the user CLICKS */
.clickable1:active {
  filter: drop-shadow(0px 0px 3px);
  transform: scale(2.5);
}

/* EFFECT 2 */
.clickable2 {
  filter: brightness(85%) drop-shadow(2px 8px 3px);
}
.clickable2:hover {
  cursor: wait;
  filter: brightness(100%) drop-shadow(2px 8px 3px);
  transform: scale(1.04);
}
/* changes to the style when the user CLICKS */
.clickable2:active {
  filter: drop-shadow(0px 0px 3px);
  transform: scale(0.98);
}

/* EFFECT 3 */
.clickable3 {
  filter: brightness(85%) drop-shadow(2px 8px 3px);
}
/* changes to the style when the user HOVERS */
.clickable3:hover {
  cursor: not-allowed;
  filter: brightness(100%) drop-shadow(2px 8px 3px);
  transform: scale(1.04);
}
/* changes to the style when the user CLICKS */
.clickable3:active {
  filter: drop-shadow(0px 0px 3px);
  transform: scale(0.5);
}

/* EFFECT 4 */
.clickable4 {
}
.clickable4:hover {
}
.clickable4:active {
}

/* EFFECT 5 */
.clickable5 {
}
.clickable5:hover {
}
.clickable5:active {
}

@media only screen and (max-width: 600px) {
  body {
    display: block;
  }
  .button-div {
    width: 100%;
    height: calc(100% / 3);
    display: flex;
  }
}
/* styles if the screen is 600px or less */
@media only screen and (max-width: 900px) {
  body {
  }
}
